# Ignore compiled executables
todo_finder
work_reminders

# Swift Package Manager
.build/
.swiftpm/

# Xcode
xcuserdata/
*.xcodeproj/
*.xcworkspace/
DerivedData/
.DS_Store

# Build products
build/
debug/
release/
*.o